<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Shop's</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="A premium admin dashboard template by Mannatthemes" name="description" />
  <meta content="Ilya" name="author" />
  <!-- App css -->
  <link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/public/css/icons.css" rel="stylesheet" type="text/css" />
  <link href="/public/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
  <link href="/public/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- Page Content-->
<div class="page-content">
  <div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <div class="float-right">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active">Datatable</li>
            </ol>
          </div>
          <h4 class="page-title">Datatable</h4>
        </div><!--end page-title-box-->
      </div><!--end col-->
    </div><!--end row-->
    <!-- end page title end breadcrumb -->

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
<!-- <h4 class="mt-0 header-title">Default Datatable with local: {{.cl}}, count: {{.counttoshowint}}, search: {{.searching}} and order by: {{.orderbyon}}</h4>-->
            <form method="post" action="/shops">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select name="datatable_length" aria-controls="datatable" class="custom-select custom-select-sm form-control form-control-sm">
                    <!--Лучше пока не придумал-->
                  <option value="10" {{if eq .counttoshowint 10}} selected {{end}}>10</option>
                  <option value="25" {{if eq .counttoshowint 25}} selected {{end}}>25</option>
                  <option value="50" {{if eq .counttoshowint 50}} selected {{end}}>50</option>
                  <option value="100"{{if eq .counttoshowint 100}} selected {{end}}>100</option>
                </select>
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="datatable_filter" class="dataTables_filter">
                <label>Search:
                  <input {{if .searching}} value="{{.searching}}" {{end}} type="search" name="search" class="form-control form-control-sm" placeholder="Key word" aria-controls="datatable">
                  <input class="page-link" type="submit" value="Find" id="send">
                </label>
            </div>
            </div>
            <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
              <thead>
              <tr>
                <th>Name
                  <label class="switch">
                    <input {{if .orderbyon}} checked {{end}} type="checkbox" name="sortbyname">
                  </label></th>
                <th>Address</th>
                <th>Phone</th>
                <th>Contact name</th>
                <th>Email</th>
              </tr>
              </thead>
              <tbody>
              {{if not .results}}
              <tr class="odd">
                <td colspan="5" class="dataTables_empty">No matching records found</td>
              </tr>
              {{else}}
              {{range .results}}
              <tr>
                <td>{{.Name}}</td>
                <td>{{.Address}}</td>
                <td>{{.Phone}}</td>
                <td>{{.Contact}}</td>
                <td>{{.Email}}</td>
              </tr>
              {{end}}
              {{end}}
              </tbody>
            </table>
            <div class="col-sm-12 col-md-7">
              <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                <ul class="pagination">
                  <li class="paginate_button page-item previous {{if le .activepageint 1}} disabled {{end}}" id="datatable_previous">
                    <input name="prev" class="page-link" type="submit" value="prev">
                  </li>
                  {{$activepageint:=.activepageint}}
                  {{range $value := .pagesarr}}
                  {{if eq $value $activepageint}}
                  <li class="paginate_button page-item active">
                    <input name="activepage" class="page-link" type="submit" value="{{$value}}">
                  </li>
                  {{else}}
                  <li class="paginate_button page-item">
                    <input name="page" class="page-link" type="submit" value="{{$value}}">
                  </li>
                  {{end}}
                  {{end}}
                  <li class="paginate_button page-item next {{if eq .activepageint .pages}} disabled {{end}}" id="datatable_next">
                    <input name="next" class="page-link" type="submit" value="next">
                  </li>
                </ul>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer text-center text-sm-left">
    &copy; 2021 III <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <span style="font-size:100%;color:red;">&hearts;</span> by Ilya</span>
  </footer><!--end footer-->
</div>
<!-- end page content -->
</div>
<!-- end page-wrapper -->
</body>
</html>