<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Metrica - Shop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="A premium admin dashboard template by Mannatthemes" name="description" />
  <meta content="Mannatthemes" name="author" />
  <!-- App css -->
  <link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="/public/css/icons.css" rel="stylesheet" type="text/css" />
  <link href="/public/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
  <link href="/public/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- Page Content-->
<div class="page-content">
  <div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <div class="float-right">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active">Datatable</li>
            </ol>
          </div>
          <h4 class="page-title">Datatable</h4>
        </div><!--end page-title-box-->
      </div><!--end col-->
    </div><!--end row-->
    <!-- end page title end breadcrumb -->

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="mt-0 header-title">Default Datatable with local: {{.cl}}, count: {{.counttoshow}}, search: {{.searching}}</h4>
            <form method="post">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select name="datatable_length" aria-controls="datatable" class="custom-select custom-select-sm form-control form-control-sm">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="datatable_filter" class="dataTables_filter">
                <label>Search:
                  <input type="search" name="search" class="form-control form-control-sm" placeholder="Key word" aria-controls="datatable">
                  <input class="page-link" type="submit" value="Find" id="send">
                </label>
<!--                <div id ="buttonsearch">
                  <form method="post" action="localhost:9000">
                    <input type="text" id ="name" name="name" autocomplete="off" autofocus>
                    <input type="submit" value="send" id="send">
                  </form>
                </div>-->
            </div>
            </div>
            <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
              <thead>
              <tr>
                <th>Name
                  <label class="switch">
                    <input type="checkbox" name="sortbyname">
                  </label></th>
                <th>Address</th>
                <th>Phone</th>
                <th>Contact name</th>
                <th>Email</th>
              </tr>
              </thead>
              {{if not .results}}
                <tr>
                  <td>No Results Found</td>
                </tr>
              {{else}}
              <tbody>
              {{range .results}}
              <tr>
                <td>{{.Name}}</td>
                <td>{{.Address}}</td>
                <td>{{.Phone}}</td>
                <td>{{.Contact}}</td>
                <td>{{.Email}}</td>
              </tr>
              {{end}}
              </tbody>
            </table>
              {{end}}
            </form>
            <div class="col-sm-12 col-md-7">
              <div class="dataTables_paginate paging_simple_numbers" id="datatable_paginate">
                <ul class="pagination">

                  <!--тут намутить какую-то штуку, чтобы отрисовывалось всё красиво-->

                  <li class="paginate_button page-item previous disabled" id="datatable_previous">
                  <a href="/?page=prev" aria-controls="datatable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                </li>
                  <li class="paginate_button page-item active">
                    <a href="/" aria-controls="datatable" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                  </li>
                  <li class="paginate_button page-item">
                    <a href="/?page=2" aria-controls="datatable" data-dt-idx="2" tabindex="0" class="page-link" action>2</a>
                  </li>
                  <li class="paginate_button page-item next" id="datatable_next">
                    <a href="/?page=next" aria-controls="datatable" data-dt-idx="3" tabindex="0" class="page-link">Next</a>
                  </li>

                  <!--тут намутить какую-то штуку, чтобы отрисовывалось всё красиво-->

                </ul>
              </div>
            </div>

          </div>
        </div>
      </div> <!--&lt;!&ndash; end col &ndash;&gt;-->
    </div> <!--&lt;!&ndash; end row -->
  </div><!-- container -->

  <footer class="footer text-center text-sm-left">
    &copy; 2019 Metrica <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by Ilya</span>
  </footer><!--end footer-->
</div>
<!-- end page content -->
</div>
<!-- end page-wrapper -->
</body>
</html>